In [1]:
##Question 1
i = 3
if i < 3:
    print('less than 3')
elif i < 5:
    print('less than 5')
else:
    print('5 or more')

less than 5

In [14]:
## Task 1 - Question 2
l1 = (range(2000,3200))
l2 = []
for i in range(len(l1)):
    if(l1[i]%7==0 and l1[i]%5!=0):
        l2.append(l1[i])
print(l2)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [31]:
## Question 3
fname = input("Enter your first name")
lname = input("Enter your last name")
fullname = fname + ' ' + lname
print(fullname[::-1])

Enter your first nameprakruthi
Enter your last namegopal
lapog ihturkarp

In [40]:
## Question 4
d=12
r=d/2
pie = 3.14
vol = (4/3) * (pie) * (r * r * r)
vol

904.3199999999999

In [45]:
## Task 2
## Question 1
str1 = input("enter a list of numbers seperated by comma")
list1 = str1.split(',')
list1

enter a list of numbers seperated by comma66,000,99

['66', '000', '99']

In [70]:
## Task 2
## Question 2
m = 5
for i in range(0,m):
    for j in range(0,i+1):
        print('*',end='')
    print("\n") 
for i in range(0,m-1):
    m = m-1
    for j in range(0,m):
        print('*',end='')
    print("\n")

*

**

***

****

*****

****

***

**

*

In [98]:
## task 2
## question 3
str1 = input("Enter the name to be reversed: ")
l1 = list(str1)
l1.reverse()
str2 = ''.join(l1)
print(str2)

Enter the name to be reversed: prakruthi
ihturkarp

In [106]:
## task 2
## question 4
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,!\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure all its citizens